:root {
  --cor-0: #ffffff;
  --cor-1: #9c9c9c;
  --cor-2: #717171;
  --cor-3: #404040;
  --cor-4: #5724ab;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}
